<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.routines">

    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="remove" />
    <application
        android:allowBackup="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Routines">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"

            android:theme="@android:style/Theme.Black.NoTitleBar"
            tools:ignore="Instantiatable,MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SearchProfileActivity"
            android:exported="false"
            android:parentActivityName=".SearchActivity"/>
        <activity
            android:name=".EventListActivity"
            android:exported="true" />
        <activity
            android:name=".AddEventActivity"
            android:exported="true" />
        <activity
            android:name=".ViewHabitActivity"
            android:parentActivityName=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>